*.txt

.env
.env.local
.env.development.local
.env.test.local
.env.production.local

/node_modules
/.next
/dist
/build
/coverage
/logs
/temp
/cache

/public

# Local deployment files
/ecosystem.config.js